.final-switcher {
  width: 750px;
  max-width: 750px;

  &-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    &-pickable {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;

      @media (min-width: 768px) {
        width: 500px;
        max-width: 500px;
      }

      &-head {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-left {
          height: 70px;
          min-height: 70px;
          width: 75px;
          max-width: 75px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;

          @media (min-width: 768px) {
            width: 215px;
            max-width: 215px;
          }

          &-vertical {
            width: 1px;
            max-width: 1px;
            height: 40px;
            max-height: 40px;

            &-active {
              width: 1px;
              max-width: 1px;
              height: 90px;
              max-height: 90px;
              background-color: $yellow;

              @media (min-width: 768px) {
                height: 40px;
                max-height: 40px;
              }
            }
          }

          &-horizontal {
            height: 1px;
            max-height: 1px;
            width: 70px;
            max-width: 70px;

            @media (min-width: 768px) {
              width: 90px;
              max-width: 90px;
            }

            &-active {
              height: 1px;
              max-height: 1px;
              width: 25px;
              max-width: 25px;
              background-color: $yellow;

              @media (min-width: 768px) {
                width: 90px;
                max-width: 90px;
              }
            }
          }
        }

        &-central {
          margin-top: 65px;
          height: 70px;
          max-height: 70px;
          width: 70px;
          max-width: 70px;
          border-radius: 70px;
          background-color: $yellow;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          > img {
            height: 40px;
            max-height: 40px;
            width: 40px;
            max-width: 40px;
          }
        }

        &-right {
          width: 75px;
          max-width: 75px;
          height: 70px;
          min-height: 70px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;

          @media (min-width: 768px) {
            width: 215px;
            max-width: 215px;
          }

          &-vertical {
            width: 1px;
            max-width: 1px;
            height: 40px;
            max-height: 40px;

            &-active {
              width: 1px;
              max-width: 1px;
              height: 90px;
              max-height: 90px;
              background-color: $yellow;
              @media (min-width: 768px) {
                height: 40px;
                max-height: 40px;
              }
            }
          }

          &-horizontal {
            height: 1px;
            max-height: 1px;
            width: 70px;
            max-width: 70px;
            @media (min-width: 768px) {
              width: 90px;
              max-width: 90px;
            }

            &-active {
              height: 1px;
              max-height: 1px;
              width: 25px;
              max-width: 25px;
              background-color: $yellow;
              @media (min-width: 768px) {
                width: 90px;
                max-width: 90px;
              }
            }
          }
        }
      }

      &-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        &-vertical {
          width: 1px;
          max-width: 1px;
          height: 70px;
          max-height: 70px;
          background-color: $yellow;
          margin-left: 90px;
          margin-right: 90px;

          @media (min-width: 768px) {
            margin-left: 180px;
            margin-right: 180px;
          }
        }
      }

      &-footer {
        &-card {
          margin-top: 25px;

          &-image {
            display: flex;
            align-items: center;
            justify-content: center;

            & > img {
              min-width: 100px;
              max-width: 100px;
              min-height: 100px;
              max-height: 100px;

              @media (min-width: 768px) {
                min-width: 150px;
                max-width: 150px;
                min-height: 150px;
                max-height: 150px;
              }
            }
          }

          &-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
          }

          &-shadow {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 20px 0;

            &-image {
              width: 70px;
              max-width: 70px;
              min-width: 70px;
              height: 30px;
              background: url("../../assets/images/shadow.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              @media (min-width: 768px) {
                width: 220px;
                max-width: 220px;
                min-width: 220px;
                background-size: cover;
              }
            }
          }
        }
      }
    }

    &-fixed {
      display: flex;
      align-items: center;
      justify-content: center;

      &-vertical {
        width: 1px;
        max-width: 1px;
        height: 440px;
        margin-top: 35px;
        background-color: $yellow;
        margin-left: 40px;
        margin-right: 40px;

        @media (min-width: 768px) {
          margin-left: 125px;
          margin-right: 180px;
        }
      }
    }
  }

  &-footer {
    &-top {
      display: flex;
      flex-direction: row;
      height: 100%;

      &-left {
        width: 50%;
        max-width: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

        &-vertical {
          width: 1px;
          max-width: 1px;
          height: 70px;
          background-color: $yellow;
          margin-left: 335px;
          @media (min-width: 768px) {
            margin-left: 250px;
          }
        }

        &-horizontal {
          height: 1px;
          max-height: 1px;
          width: 75px;
          max-width: 75px;
          background-color: $yellow;

          @media (min-width: 768px) {
            width: 180px;
            max-width: 180px;
          }
        }
      }

      &-right {
        width: 50%;
        max-width: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

        &-vertical {
          width: 1px;
          max-width: 1px;
          height: 70px;
          background-color: $yellow;
          margin-right: 264px;
          @media (min-width: 768px) {
            margin-right: 124px;
          }
        }

        &-horizontal {
          height: 1px;
          max-height: 1px;
          width: 130px;
          max-width: 130px;
          background-color: $yellow;
          @media (min-width: 768px) {
            width: 250px;
            max-width: 250px;
          }
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 70px;

      &-vertical {
        width: 1px;
        max-width: 1px;
        height: 70px;
        background-color: $yellow;
      }
    }
  }

  &-card {
    margin: 0 5px;
    @media (min-width: 770px) {
      margin: 0 15px;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;

      &-gray {
        filter: grayscale(100%);
      }

      & > img {
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;

        @media (min-width: 768px) {
          min-width: 150px;
          max-width: 150px;
          min-height: 150px;
          max-height: 150px;
        }
      }
    }

    &-title {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      color: grey;

      &-active {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
      }
    }

    &-shadow {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      height: 30px;
      margin: 10px 0;

      @media (min-width: 768px) {
        width: 220px;
        max-width: 220px;
        min-width: 220px;
      }

      &-active {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        height: 30px;
        margin: 10px 0;
        background: url("../../assets/images/shadow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (min-width: 768px) {
          width: 220px;
          max-width: 220px;
          min-width: 220px;
          background-size: cover;
        }
      }
    }
  }
}
