.first-page {
  &-classic {
    background: url("../../assets/images/CLASSIC_black1web.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
  }

  &-azeroth {
    background: url("../../assets/images/BFA_black1web.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
  }

  main {
    padding: 10px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: 100%;
      height: 75vh;
      padding: 0;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
      min-width: 250px;
      max-width: 250px;
      min-height: 250px;
      max-height: 250px;
      margin-bottom: 15px;
    }
  }

  .game-mode-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &-image {
      margin: 15px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-gray {
        filter: grayscale(100%);
      }

      > img {
        min-width: 190px;
        max-width: 190px;
        min-height: 90px;
        max-height: 90px;
      }
    }
  }

  .toss-it {
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 5px;
    background-color: #242625;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 10px 5px 0px rgba(50, 51, 50, 1);
    -moz-box-shadow: inset 0px 10px 5px 0px rgba(50, 51, 50, 1);
    box-shadow: inset 0px 10px 5px 0px rgba(50, 51, 50, 1);

    > div {
      width: 50%;
      height: 50%;
      background: url("../../assets/images/toss_it.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:hover {
      background-color: $yellow;
      -webkit-box-shadow: inset 0px 10px 5px 0px rgba(255, 241, 110, 1);
      -moz-box-shadow: inset 0px 10px 5px 0px rgba(255, 241, 110, 1);
      box-shadow: inset 0px 10px 5px 0px rgba(255, 241, 110, 1);

      > div {
        width: 50%;
        height: 50%;
        background: url("../../assets/images/toss_it_dark.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .shadow-bottom {
    width: 220px;
    max-width: 220px;
    min-width: 220px;
    height: 30px;
    margin-top: 15px;

    &-active {
      background: url("../../assets/images/shadow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
