.second-page {
  &-classic {
    background: url("../../assets/images/CLASSIC_black1.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
  }

  &-azeroth {
    background: url("../../assets/images/BFA_black1.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
  }

  & > main {
    width: 100vw;
    height: 100vh;
  }

  &-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-left {
      width: 50%;
      min-width: 50%;
      max-width: 50%;
      display: flex;
      justify-content: space-around;
      position: relative;

      &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &-special {
          position: absolute;
          //right: -35px;
          right: -100px;
          -webkit-animation: fadeFromRightMobile 1s linear forwards;
          animation: fadeFromRightMobile 1s linear forwards;
          @media (min-width: 768px) {
            //right: -55px;
            right: -300px;
            -webkit-animation: fadeFromRight 1s linear forwards;
            animation: fadeFromRight 1s linear forwards;
          }
        }

        &-special-sec {
          position: absolute;
          //right: 60px;
          right: -100px;
          -webkit-animation: fadeFromRightSecMobile 1s linear forwards;
          animation: fadeFromRightSecMobile 1s linear forwards;

          @media (min-width: 768px) {
            //right: 110px;
            right: -150px;
            -webkit-animation: fadeFromRightSec 1s linear forwards;
            animation: fadeFromRightSec 1s linear forwards;
          }
        }

        

        &-title {
          font-size: 18px;
          text-transform: uppercase;

          @media (min-width: 768px) {
            font-size: 22px;
          }
        }

        > img {
          min-width: 100px;
          max-width: 100px;
          min-height: 100px;
          max-height: 100px;
          margin-bottom: 25px;

          @media (min-width: 768px) {
            min-width: 150px;
            max-width: 150px;
            min-height: 150px;
            max-height: 150px;
          }
        }
      }
    }

    &-right {
      width: 50%;
      min-width: 50%;
      max-width: 50%;
      z-index: 2;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      position: relative;

      &-shadow {
        position: absolute;
        top: 25%;
        left: -15px;
        background: url("../../assets/images/shadow-vertical.png");
        height: 65%;
        width: 35px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

@keyframes fadeFromRightSecMobile {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-30px, 0);
            transform: translate(-30px, 0);
  }
  100% {
    -webkit-transform: translate(-60px, 0);
            transform: translate(-60px, 0);
  }
}

@keyframes fadeFromRightSec {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  100% {
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
}


//first image

@keyframes fadeFromRightMobile {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-95px, 0);
            transform: translate(-95px, 0);
  }
  100% {
    -webkit-transform: translate(-155px, 0);
            transform: translate(-155px, 0);
  }
}

@keyframes fadeFromRight {
  0% {
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
  50% {
    -webkit-transform: translate(-235px, 0);
            transform: translate(-235px, 0);
  }
  100% {
    -webkit-transform: translate(-435px, 0);
            transform: translate(-435px, 0);
  }
}
