.third-page {
  &-classic {
    background: url("../../assets/images/CLASSIC_black1web.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
  }

  &-azeroth {
    background: url("../../assets/images/BFA_black1web.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
  }

  main {
    padding: 80px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
      width: 100%;
      height: 75vh;
      padding: 0;
    }
  }

  &-result {
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(42, 42, 42, 0.7);
    margin: 85px 0;

    @media (min-width: 768px) {
      width: 500px;
      height: 440px;
      padding: 35px;
      margin-top: 85px;
    }

    &-title {
      font-size: 25px;
      text-align: center;
    }

    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (min-width: 768px) {
        flex-direction: row;
      }

      &-left {
        height: auto;
        @media (min-width: 768px) {
          height: 300px;
          width: 50%;
          min-width: 50%;
        }
      }

      &-right {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 12px;
        @media (min-width: 768px) {
          height: 300px;
          width: 50%;
          min-width: 50%;
        }

        &-item {
          margin: 15px 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          &-coin {
            width: 15px;
            min-width: 15px;
            max-width: 15px;
            height: 15px;
            min-height: 15px;
            max-height: 15px;
            margin-right: 10px;
            background: url("../../assets/images/coin.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }

    &-card {
      margin-top: 25px;

      &-image {
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
          min-width: 250px;
          max-width: 250px;
          min-height: 250px;
          max-height: 250px;

          @media (min-width: 768px) {
            min-width: 150px;
            max-width: 150px;
            min-height: 150px;
            max-height: 150px;
          }
        }
      }

      &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 35px;
        margin: 20px 0;
      }

      &-shadow {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 20px 0;

        &-image {
          width: 150px;
          max-width: 150px;
          min-width: 150px;
          height: 30px;
          background: url("../../assets/images/shadow.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          @media (min-width: 768px) {
            width: 220px;
            max-width: 220px;
            min-width: 220px;
            background-size: contain;
          }
        }
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 25px 0;

      &-repeat {
        height: 60px;
        min-height: 60px;
        max-height: 60px;
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        border-radius: 5px;
        background-color: #242625;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-box-shadow: inset 0px 10px 5px 0px rgba(50, 51, 50, 1);
        -moz-box-shadow: inset 0px 10px 5px 0px rgba(50, 51, 50, 1);
        box-shadow: inset 0px 10px 5px 0px rgba(50, 51, 50, 1);

        @media (min-width: 768px) {
          height: 80px;
          min-height: 80px;
          max-height: 80px;
          width: 250px;
          min-width: 250px;
          max-width: 250px;
        }

        > div {
          width: 50%;
          height: 50%;
          background: url("../../assets/images/continue.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &:hover {
          background-color: $yellow;
          -webkit-box-shadow: inset 0px 10px 5px 0px rgba(255, 241, 110, 1);
          -moz-box-shadow: inset 0px 10px 5px 0px rgba(255, 241, 110, 1);
          box-shadow: inset 0px 10px 5px 0px rgba(255, 241, 110, 1);

          > div {
            width: 50%;
            height: 50%;
            background: url("../../assets/images/continue_dark.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}
